.how{
    height: 115px;
    background: $color-primary-2;
    display: flex;
    align-items: center;
   
.how-text{
    display: flex;
    justify-content: center;
    font-family: $font-semi-bold;
    color: $font-color-1;
    text-transform: uppercase;
    font-size: 36px;
}    
}
 
.works-text{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-family: $font-regular;
    color: $font-color-2;
    font-size: 28px;
}

.faq-blocks{
    margin-top: 35px;
    display: block;
}

.faq-top{
    height: 65px;
    background: $color-primary-1;
    color: $font-color-1;
    font-family: $font-regular;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.faq-text{
    color: $font-color-4;
    background: #eaedf2;
    margin-top: 0;
    padding: 25px 45px;
    line-height: 25px;
    font-family: $font-light;
    font-size: 14px;
}