.header-top-color{
    height: 51px;  
    background-color:$color-primary-1;   
    padding: 0;
    
    @media screen and (max-width: 768px){
    display: none;
    }
    }
    
    .header-top-contacts{
    @include font(14px, $font-color-1, 400, $font-regular);
    
    
    .toll-free{
    @media screen and (max-width: 992px){
    display: none;
    }
    padding: 0;
    }
    
    .call-now{
    @media screen and (max-width: 768px){
    display: none;
    }
    }
    
    .phone-number{
    @include font(18px, $font-color-1, 400, $font-regular );
    text-decoration:none;  
    
    @media screen and (min-width: 992px) and (max-width: 1200px){
    font-size: 16px;
    }
    }
    
    .phone-number:hover{
    font-weight: 600;     
    }
    
    .toll-free::before{
    content: '';
    display: inline-block;
    height: 30px;
    width: 40px;
    background: url(../img/phone-icon.png) center no-repeat;
    margin-right: 10px;
    position: relative;
    top: 10px;
    }
    
    .call-now::before{
    content: '';
    display: inline-block;
    height: 30px;
    width: 40px;
    background: url(../img/phone-icon-2.png) center no-repeat;
    margin-right: 10px;
    position: relative;
    top: 10px;
    padding: 0;
    }
    
    .social-icons{
    display: inline-block;
    text-align: right;
    padding: 0;
    
    @media screen and (max-width: 768px){
    display: none;
    }
    
    .pinterest{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 11px;
    background: url('../img/pinterest.png');
    background-repeat: no-repeat;
    background-size: contain;
    }
            
    .twitter{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 11px;
    background: url('../img/twitter.png');
    background-repeat: no-repeat;
    background-size: contain;
    }
    
    .facebook{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 11px;
    background: url('../img/facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
    }
    
    .facebook:hover{
    background: rgb(90, 95, 177);
    transition: 2s all ease;
    }
    }
    }