.login{
    height: 115px;
    background: $color-primary-2;
    display: flex;
    align-items: center;
   
.login-text{
    display: flex;
    justify-content: center;
    font-family: $font-semi-bold;
    color: $font-color-1;
    text-transform: uppercase;
    font-size: 36px;
}    
}
 
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin: 70px 0;


.login-form-top{
    height: 70px;
    background: $color-primary-1;
    color: $font-color-1;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: $font-regular;
}

.login-form-body{
height: 265px;
display: flex;
justify-content: center;
padding: 0; 
margin: 0;
background: $color-primary-2;    
}

.login-inputs{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-top: 40px;


.inputs{
    height: 40px;
    padding-left: 10px;
    margin-bottom: 20px;
}
}

.login-form-links{
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding: 0;
    line-height: 20px;

a{
    color: $font-color-2;
    font-family: $font-light;
    font-size: 12px;

    &:hover{
        color: $font-color-1;
      }
}    
}

.button-login{
    margin-top: 22px;

i{
    padding-right: 20px;
}    
}

}