<main>

    <section>
        <div class="container-fluid blog">
            <div class="container">
                <div class="row ">
                    <div class="col blog-text">Blog</div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid ">
        <div class="container blog-border">
            <section>
                <div class="row blog-block">
                    <div class="col-2 data">
                        <div class="red">AUG </br>3 </br> 2014</div>
                        <div class="blue">12 </br>comments </div>
                    </div>

                    <div class="col-10 ">
                        <div class="blog-picture"></div>
                        <div class="posted">Posted by <span>Sara brash</span></div>
                        <div class="blog-text-1">Lorem ipsum dolor sit amet</div>
                        <div class="blog-text-2">Student years are the best time of one’s life. You are in the prime of
                            your life and hopeful about the bright future ahead. This is the period that leaves the
                            funniest photos, the sweetest memories, and gives you the most faithful friends. However,
                            there is one thing that spoils all the fun – assignment writing. Have you ever struggled to
                            write an essay or prepare a speech only to find that the deadline is getting closer, and the
                            work is not ready yet? Are you desperate for someone to have your paper done? Ordering it
                            online is a really convenient option, but you must be sure that the final product is worth
                            the price. EssaysService.com is one of the leading online writing centers that deliver only
                            premium quality essays, term papers, and research papers.
                        </div>
                        <button class="btn-live-chat reading">Continie Reading</button>
                    </div>
                </div>

            </section>

            <section>
                    <div class="row blog-block">
                        <div class="col-2 data">
                            <div class="red">AUG </br>3 </br> 2014</div>
                            <div class="blue">12 </br>comments </div>
                        </div>
    
                        <div class="col-10 ">
                            <div class="blog-picture"></div>
                            <div class="posted">Posted by <span>Sara brash</span></div>
                            <div class="blog-text-1">Lorem ipsum dolor sit amet</div>
                            <div class="blog-text-2">Student years are the best time of one’s life. You are in the prime of
                                your life and hopeful about the bright future ahead. This is the period that leaves the
                                funniest photos, the sweetest memories, and gives you the most faithful friends. However,
                                there is one thing that spoils all the fun – assignment writing. Have you ever struggled to
                                write an essay or prepare a speech only to find that the deadline is getting closer, and the
                                work is not ready yet? Are you desperate for someone to have your paper done? Ordering it
                                online is a really convenient option, but you must be sure that the final product is worth
                                the price. EssaysService.com is one of the leading online writing centers that deliver only
                                premium quality essays, term papers, and research papers.
                            </div>
                            <button class="btn-live-chat reading">Continie Reading</button>
                        </div>
                    </div>
    
                </section>

                <section>
                        <div class="row blog-block">
                            <div class="col-2 data">
                                <div class="red">AUG </br>3 </br> 2014</div>
                                <div class="blue">12 </br>comments </div>
                            </div>
        
                            <div class="col-10 ">
                                <div class="blog-picture"></div>
                                <div class="posted">Posted by <span>Sara brash</span></div>
                                <div class="blog-text-1">Lorem ipsum dolor sit amet</div>
                                <div class="blog-text-2">Student years are the best time of one’s life. You are in the prime of
                                    your life and hopeful about the bright future ahead. This is the period that leaves the
                                    funniest photos, the sweetest memories, and gives you the most faithful friends. However,
                                    there is one thing that spoils all the fun – assignment writing. Have you ever struggled to
                                    write an essay or prepare a speech only to find that the deadline is getting closer, and the
                                    work is not ready yet? Are you desperate for someone to have your paper done? Ordering it
                                    online is a really convenient option, but you must be sure that the final product is worth
                                    the price. EssaysService.com is one of the leading online writing centers that deliver only
                                    premium quality essays, term papers, and research papers.
                                </div>
                                <button class="btn-live-chat reading">Continie Reading</button>
                            </div>
                        </div>
        
                    </section>
        </div>
    </div>

</main>