<main>

    <section>
        <div class="container-fluid how">
            <div class="container">
                <div class="row ">
                    <div class="col how-text">Discounts</div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid works">
        <div class="container">
            <div class="row ">
                <div class="col works-text">Discounts for NEW and RETURNING customers!</div>
            </div>

            <div class="row ">
                <div class="col discount-text">RETURNING CUSTOMERS GET 5, 10 OR 15 % DISCOUNTS</div>
            </div>

            <div class="row first-order">
                <div class="col-xl-10 col-l-10 col-md-10 col-s-12 first-text"><i class="far fa-bell"></i>-20% for
                    first order</div>
            </div>

            <div class="row ">
                <div class="col discount-text-1">EssaysService.com focuses on establishing long-term relationships
                    with its customers. Whether your order is small or large, or whether you have a single or
                    multiple orders at one time, you will be able to take advantage of our discounts for the
                    returning customers!
                </div>
            </div>

            <div class="row discounts">
                <div class="col-xl-3 col-l-3 col-md-4 col-s-5 discount-tag-1"></div>
                <div class="col-xl-7 col-l-7 col-md-8 col-s-7 discount-tag-text">When your total order equals 15 or more
                    pages, you will receive a
                    permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.
                </div>
            </div>

            <div class="row discounts">
                <div class="col-xl-3 col-l-3 col-md-4 col-s-5 discount-tag-2"></div>
                <div class="col-xl-7 col-l-7 col-md-8 col-s-7 discount-tag-text">Order one or more assignments with a
                    total of 51 pages or more, and
                    we will give you a 10% discount on every future order.
                </div>
            </div>

            <div class="row discounts">
                <div class="col-xl-3 col-l-3 col-md-4 col-s-5 discount-tag-3"></div>
                <div class="col-xl-7 col-l-7 col-md-8 col-s-7 discount-tag-text">If your order totals 101 pages or more
                    (a single or multiple works),
                    you will receive an automatic 15% discount on all future order.
                </div>
            </div>

            <div class="row ">
                <div class="col discount-text-1">Whatever your writing needs are, we are ready to provide you with top
                    quality professional writing help for the rest of your academic career! Our professional writers,
                    editors, and customer support professionals are always available and ready to help you at any time!
                </div>
            </div>

        </div>
    </div>

</main>