<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ESSAYS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="..//css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="..//css/main.css">

</head>

<header>
    <section class="header-top">

        <div class="container-fluid header-top-color">
            <div class="container ">
                <div class="row header-top-contacts">

                    <div class="col toll-free">Toll for free:
                        <a class="phone-number" href="tel:+1(202)555-0194">+1-(202)-555-0194 </a>
                    </div>

                    <div class="col call-now">
                        Call now:<a class="phone-number" href="tel: +1(202)555-0194">
                            +1-(202)-555-0194</a>
                    </div>

                    <div class="col social-icons">Join us:
                        <a href="#" class="icon pinterest"></a>
                        <a href="#" class="icon twitter"></a>
                        <a href="#" class="icon facebook"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row header-top-2">
                <div class="burger-menu">
                    <div class=" col-md-1 burger ">
                        <input type="checkbox" id="humburger-checkbox">
                        <label for="humburger-checkbox" class="humburger">
                            <div class="humburger-item"></div>
                            <div class="humburger-item"></div>
                            <div class="humburger-item"></div>
                        </label>

                        <div class="sidebar">
                            <ul>
                                <li><a href="index.html">Home</a> </li>
                                <li><a href="about.html">About us</a> </li>
                                <li><a href="services.html">Services & Prices</a> </li>
                                <li><a href="how.html">How it works</a> </li>
                                <li><a href="discounts.html">Discounts</a> </li>
                                <li><a href="order.html">Order now</a> </li>
                                <li><a href="faq.html">FAQ</a> </li>
                                <li><a href="testimonials.html">Testimonials</a> </li>
                                <li><a href="blog.html">Blog</a> </li>
                                <li><a href="login.html">Login</a> </li>
                                <li><a href="index.html">Full version of the site</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-l-2 col-md-2 col-s-10 logo"></div>
                <div class="main-nav">
                    <nav>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">Services & Prices</a></li>
                            <li><a href="how.html">How it works</a></li>
                            <li><a href="discounts.html">Discounts</a></li>
                            <li><a href="order.html">Order now</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="samples.html">Samples</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
   
</header>
<body>
