<main>

    <section>
        <div class="container-fluid how">
            <div class="container">
                <div class="row ">
                    <div class="col how-text">How it works</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid works">
            <div class="container">
                <div class="row ">
                    <div class="col works-text">How does this works?</div>
                </div>

                <div class="row ">
                    <div class="col works-text-1">Have you been scammed by writing services? Do you resent using a
                        writing service again? We understand your anger and frustration, because many clients who end up
                        with us have experienced just what you have. They paid for a paper and received a terrible
                        product which they could not submit without completely re-writing it or, worse, had to trash it
                        completely.
                        </br>
                        With EssaysService.com, you get an entirely different process. We are completely open with our
                        customers, and they are aware of every stage their paper is at. Our company together with its
                        customers has managed to build the confidence which is not available with other services.
                        Whether you need an essay, report, critique, term or research paper, thesis or dissertation, the
                        process is the same.When you use us, here is what happens:</div>
                </div>

                <div class="row">

                </div>
            </div>
        </div>
        </div>
    </section>
</main>