<main>

    <section>
        <div class="container-fluid login">
            <div class="container">
                <div class="row ">
                    <div class="col login-text">Login </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="container">
                <div class="row login-form">

                    <div class="col-xl-6 col-l-6 col-md-7 col-s-12 col-12">

                        <div class="login-form-top">Login Form</div>
                        <div class="login-form-body">

                            <div class="login-inputs">

                                <input type="email" class="form-control inputs" id="email" placeholder="Email"
                                    name="email" required>

                                <input type="password" class="form-control inputs" id="password" placeholder="Password"
                                    name="password" required>
                          
                                <div class="login-form-links">
                                    <ul>
                                        <li><a href="#">Forgot your password?</a></li>
                                        <li><a href="#">Registration & order</a></li>
                                        <li><a href="#">Free registration</a></li>
                                    </ul>

                                    <button class="btn-live-chat button-login"><i class="fas fa-angle-right arrow"></i>LOGIN</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>