<main>

    <section>
        <div class="container-fluid how">
            <div class="container">
                <div class="row ">
                    <div class="col how-text">Samples</div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid">
        <div class="container">
            <section>
                <div class="row powerpoint-block">
                    <div class="col powerpoint">Powerpoint Presentation</div>
                </div>
                <div class="row powerpoint-block-body">
                    <div class="col-3 download">
                        <div class="pdf"></div>
                        <button class="btn-order">Order now</button>
                    </div>

                    <div class="col-9 table">
                        <table class="table-striped">
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High Shool</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-3 download-text">
                        <div class="now">You can order your custom written paper NOW</div>
                        <div class="from">Prices from <span>$11.99/page</span></div>
                    </div>

                    <div class="col-9 ">
                        <div class="discount20">Get <span>20%</span> discount on the first order</div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row powerpoint-block">
                    <div class="col powerpoint">Powerpoint Presentation</div>
                </div>
                <div class="row powerpoint-block-body">
                    <div class="col-3 download">
                        <div class="pdf"></div>
                        <button class="btn-order">Order now</button>
                    </div>

                    <div class="col-9 table">
                        <table class="table-striped">
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High Shool</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-3 download-text">
                        <div class="now">You can order your custom written paper NOW</div>
                        <div class="from">Prices from <span>$11.99/page</span></div>
                    </div>

                    <div class="col-9 ">
                        <div class="discount20">Get <span>20%</span> discount on the first order</div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row powerpoint-block">
                    <div class="col powerpoint">Powerpoint Presentation</div>
                </div>
                <div class="row powerpoint-block-body">
                    <div class="col-3 download">
                        <div class="pdf"></div>
                        <button class="btn-order">Order now</button>
                    </div>

                    <div class="col-9 table">
                        <table class="table-striped">
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High Shool</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-3 download-text">
                        <div class="now">You can order your custom written paper NOW</div>
                        <div class="from">Prices from <span>$11.99/page</span></div>
                    </div>

                    <div class="col-9 ">
                        <div class="discount20">Get <span>20%</span> discount on the first order</div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row powerpoint-block">
                    <div class="col powerpoint">Powerpoint Presentation</div>
                </div>
                <div class="row powerpoint-block-body">
                    <div class="col-3 download">
                        <div class="pdf"></div>
                        <button class="btn-order">Order now</button>
                    </div>

                    <div class="col-9 table">
                        <table class="table-striped">
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High Shool</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-3 download-text">
                        <div class="now">You can order your custom written paper NOW</div>
                        <div class="from">Prices from <span>$11.99/page</span></div>
                    </div>

                    <div class="col-9 ">
                        <div class="discount20">Get <span>20%</span> discount on the first order</div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row powerpoint-block">
                    <div class="col powerpoint">Powerpoint Presentation</div>
                </div>
                <div class="row powerpoint-block-body">
                    <div class="col-3 download">
                        <div class="pdf"></div>
                        <button class="btn-order">Order now</button>
                    </div>

                    <div class="col-9 table">
                        <table class="table-striped">
                            <tbody>
                                <tr>
                                    <td>Topic:</td>
                                    <td>Business Ethics Behavior</td>
                                </tr>
                                <tr>
                                    <td>Number of pages:</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Urgency:</td>
                                    <td>7 days</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>APA</td>
                                </tr>
                                <tr>
                                    <td>Number of sourses:</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Academic level:</td>
                                    <td>High Shool</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-3 download-text">
                        <div class="now">You can order your custom written paper NOW</div>
                        <div class="from">Prices from <span>$11.99/page</span></div>
                    </div>

                    <div class="col-9 ">
                        <div class="discount20">Get <span>20%</span> discount on the first order</div>
                    </div>
                </div>
            </section>

            <div class="row testimon-part samples-pagination">
                    <div class="col-10 pagination-list samples-pagination-list">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

        </div>
    </div>

</main>