<main>

    <section>
        <div class="container-fluid service-price">
            <div class="container">
                <div class="row ">
                    <div class="col service-price-text">Services & Prices</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid price">
            <div class="container">
                <div class="row ">
                    <div class="col price-text">Prices</div>
                </div>

                <div class="row ">
                    <div class="col price-text-1">Confused about the difference in pricing of various writing services?
                        We understand! Most services charge a set price-per-page, for anything from a high school
                        5-paragraph essay to a Ph.D. dissertation. This should raise an immediate red flag to you. No
                        honest and ethical service can do this without using second-rate writers and databases of
                        pre-written papers.</div>
                </div>

<div class="row">
    
</div>
            </div>
        </div>
        </div>
    </section>
</main>